body {
  background-color: rgb(19, 19, 19);
  color: white;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: rgb(19, 19, 19);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.prvidio .drugidio {
  align-self: center;
  margin: 0 auto;
}

.titlecontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  width: 100%;
  height: 100vh;
}